.filterBoard{
    display: flex;
    /* background: #f78585; */
    height: 90vh;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}



td{
    text-align: center;
}



.dashloading{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}
